# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml
.vscode/

# Stonecutter generated
**/build/

# Run directory
run/

# OS files
.DS_Store
Thumbs.db

# Local properties
local.properties

#versions
versions/1.20.1-fabric/.gradle/
versions/1.20.1-fabric/bin/
versions/1.20.1-fabric/build/

versions/1.21.1-fabric/.gradle/
versions/1.21.1-fabric/bin/
versions/1.21.1-fabric/build/

versions/1.21.4-fabric/.gradle/
versions/1.21.4-fabric/bin/
versions/1.21.4-fabric/build/

versions/1.21.11-fabric/.gradle/
versions/1.21.11-fabric/bin/
versions/1.21.11-fabric/build/